.calculator {
  background-color: #ddd;
  width: 400px;
  height: 640px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  position: relative;
  &__heading {
    position: absolute;
    top: -80px;
    left: 0;
    width: 100%;
    font-size: 30px;
    text-align: center;
  }

  &__heart {
    color: red;
    font-size: 40px;
  }
}
